body {
  margin-top: -100px;
  margin: auto;
  height: auto;
  background-color: rgb(6, 13, 23);
}
h1,
h3 {
  font-family: "Courier New", Courier, monospace;
  color: white;
}
#heading,
#mainContainer,
#show {
  width: 70%;
  margin: auto;
  text-align: center;
}
#city {
  height: 30px;
  border: solid rgb(98, 98, 228) 2px;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
#city ~ button {
  height: 30px;
  border: solid rgb(98, 98, 228) 2px;
  border-radius: 5px;
  background-color: rgb(70, 70, 190);
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
p {
  color: rgb(41, 6, 6);
  font-size: 20px;
  font-family: sans-serif;
}

#show {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 25% 60%;
  grid-gap: 10%;
  text-align: left;
}
#show img {
  width: 100%;
  margin-top: 50px;
}
#show > :nth-child(1) {
  border: solid rgb(243, 243, 245) 2px;
  text-align: center;
  background-color: rgb(190, 190, 185);
  border-radius: 5px;
  padding-bottom: 0px;
}

#show > :nth-child(1) p {
  color: rgb(0, 0, 65);
  font-weight: 600;
  font-size: 25px;
}
#show > :nth-child(2) {
  background-color: rgb(190, 190, 185);
  border: solid rgb(243, 243, 245) 2px;
  border-radius: 5px;
  padding: 50px;
  padding-bottom: 0px;
}
#show > :nth-child(2) span {
  font-size: 22px;
  font-weight: 600;
}
#show > :nth-child(2) p {
  background-color: rgb(236, 232, 232);
  border-radius: 10px;
  padding: 3px;
}
#h4DivCont {
  display: flex;
  justify-content: flex-end;
}

#h4Div {
  font-size: 30px;
  text-align: end;
  padding-top: -10px;
  margin-top: -26px;
  /* width: 250px;
  margin-left: 58%; */
  height: 40px;
  background-color: rgb(219, 219, 219);

  border: solid rgb(233, 233, 233) 2px;
  border-radius: 8px;
}
#h4Div h4 {
  padding-top: 0px;
  margin-top: 0px;
  /* padding: 5px; */
  /* background-color: rgb(90, 117, 117); */
}
#showGif {
  width: 35%;
  margin: auto;
  margin-top: 20px;
}

#showGif img {
  width: 100%;
}
#errDiv {
  background-color: antiquewhite;
  padding: 10%;
  padding-top: 3%;
  border-radius: 15px;
}
#errDiv h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
